.logoWrapper {
  @apply relative;
  width: 163px;
  height: 28px;
}

.hamburgerMenuWrapper {
  @apply relative;
  width: 24px;
  height: 14px;
}

.mobileSearchWrapper {
  @apply relative;
  width: 24px;
  height: 24px;
}

.mobileNavigationMenu {
  @apply inline-flex items-center justify-center rounded p-2;
  @apply hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-blue-800;
  @apply md:hidden;
}

.searchWrapper {
  @apply relative;
  width: 20px;
  height: 20px;
}

.search {
  @apply w-full flex-1 appearance-none rounded-l bg-white py-2 px-4 text-sm text-gray-700 placeholder-gray-400 shadow-md;
  @apply focus:border-transparent focus:outline-none focus:ring-1 focus:ring-blue-500;
}

.searchButton {
  @apply rounded-r bg-white py-2 px-4;
  @apply hover:bg-gray-100;
}
