.imageWrapper {
  @apply overflow-hidden rounded bg-gray-700 shadow;
  @apply relative h-48 w-full;
  @apply md:h-96 xs:h-72;
}

.mobileHightlight {
  @apply bg-primary-main p-5 pt-0;
  @apply md:hidden;
}

.desktopHighlight {
  @apply md:mt-5 md:px-5;
}

.articleCard {
  @apply mb-16;
}

.gridContainer {
  @apply hidden;
  @apply md:grid md:h-[464px] md:grid-cols-3 md:grid-rows-2 md:gap-4;
}

.gridCard {
  @apply relative overflow-hidden rounded;
}

.gridCard:after {
  content: '';
  background: linear-gradient(
    0deg,
    rgba(17, 24, 39, 0.8995973389355743) 0%,
    rgba(17, 24, 39, 0.7959558823529411) 17%,
    rgba(255, 255, 255, 0) 100%
  );
  @apply absolute inset-0;
}

/* Remove soon */
/* TODO: Please make a reusable component! */
.smallArticleCardImageWrapper {
  @apply relative overflow-hidden rounded bg-gray-300 shadow;
  height: 100px;
  min-width: 134px;
}

.articleTitle {
  @apply mt-6 text-3xl font-bold leading-tight tracking-wide text-white;
}

.smallArticleTitle {
  @apply text-lg font-bold leading-tight tracking-wide text-white;
}

.articleDate {
  @apply text-xs tracking-wide text-gray-300;
  @apply my-4;
}

.smallArticleDate {
  @apply text-xs tracking-wide text-gray-300;
  @apply mt-4;
}

.excerpt {
  @apply text-base text-white;
  @apply mt-2 line-clamp-5;
}
