.cardWrapper {
  scroll-snap-align: center;
  @apply mb-10 min-w-300 rounded;
}

.smallArticleCardImageWrapper {
  @apply relative overflow-hidden rounded bg-gray-300;
  height: 100px;
  min-width: 142px;
}

.articleDate {
  @apply text-xs tracking-wide text-gray-300;
  @apply mt-5;
}
