.cardWrapper {
  scroll-snap-align: center;
  @apply min-w-300 rounded mb-10;
}

.smallArticleCardImageWrapper {
  @apply relative bg-gray-300 rounded overflow-hidden;
  height: 100px;
  min-width: 142px;
}

.articleDate {
  @apply text-xs text-gray-300 tracking-wider;
  @apply mt-5;
}
