.footer {
  @apply relative top-16 bg-primary-main;
}

.footerLogoWrapper {
  @apply relative mx-auto md:mx-0;
  width: 140px;
  height: 24px;
}

.igIconWrapper {
  @apply relative;
  height: 18px;
  width: 18px;
}

.fbIconWrapper {
  @apply relative;
  height: 17px;
  width: 10px;
}

.smallArticleCardImageWrapper {
  @apply relative overflow-hidden rounded bg-gray-300;
  min-height: 94px;
  min-width: 94px;
}

.articleDate {
  @apply text-xs tracking-wide text-white;
  @apply mt-3;
}
