.footer {
  @apply bg-gray-900;
  /* height: 500px; */
}

.footerLogoWrapper {
  @apply relative mx-auto md:mx-0;
  width: 140px;
  height: 24px;
}

.igIconWrapper {
  @apply relative;
  height: 18px;
  width: 18px;
}

.fbIconWrapper {
  @apply relative;
  height: 17px;
  width: 10px;
}

.smallArticleCardImageWrapper {
  @apply relative bg-gray-300 rounded overflow-hidden;
  min-height: 94px;
  min-width: 94px;
}

.articleDate {
  @apply text-xs text-white tracking-wider;
  @apply mt-3;
}