.hidBox {
  top: -100%;
  transition: top 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  @apply fixed left-0 right-0 z-50 h-full bg-primary-main p-5 opacity-100;
  @apply md:hidden;
}

.active {
  transition: top 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  @apply top-0;
}

.overlay {
  top: -100%;
  transition: opacity 1s cubic-bezier(0.87, 0, 0.13, 1);
  @apply fixed inset-x-0 bottom-0 z-50 h-0 bg-gray-900 opacity-0;
}

.overlayActive {
  transition: opacity 1s cubic-bezier(0.87, 0, 0.13, 1);
  @apply top-0 h-screen opacity-75;
}

.logoWrapper {
  @apply relative;
  width: 163px;
  height: 28px;
}

.closeWrapper {
  @apply relative;
  width: 40px;
  height: 40px;
}

.closeIcon {
  @apply inline-flex items-center justify-center rounded p-2;
  @apply hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-blue-800;
  @apply md:hidden;
}
